:root {

    --panel-width: 260px;

    --background: #29272b;
    --f_high: #ffffff;
    --f_med: #cf2b43;
    --f_low: #888888;
    --f_inv: #000000;
    --b_high: #555555;
    --b_med: #333333;
    --b_low: #111111;
    --b_inv: #cf2b43;
}

@font-face {
    font-family: 'Title';
    font-display: swap;
    src: url("title.woff2") format("woff2");
}
@font-face {
    font-family: 'icon';
    font-weight: normal;
    font-style: normal;
    font-display: block;
    src: url('icons.woff') format('woff');
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    line-height: 1.2em;
    font-family: monospace;
    font-size: 14px;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* display: grid;
    grid-template-columns: var(--panel-width) 1fr;
    grid-template-rows: 32px 1fr; */
    background: var(--background);
    color: var(--f_med);
}

::selection {
    background: var(--b_inv);
    color: var(--f_inv);
}

::-webkit-scrollbar {
    border: none;
}

::-webkit-scrollbar:vertical {
    width: 0.8vw;
    min-width: 8px;
    max-width: 12px
}

::-webkit-scrollbar:horizontal {
    display: none;

}

::-webkit-scrollbar-thumb {
    background: var(--b_med);
    --border: 1px solid var(--b_low);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--b_high);
}

a {
    background: transparent;
    color: var(--f_med);
    text-decoration: none;
}

a:hover {
    color: var(--f_high);
}

p {
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-family: 'Title';
    line-height: 1em;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h3 {
    margin: 1em 0;
}

hr {
    border: 0;
    margin: 0.5rem 0;
    height: 1px;
    background: var(--background);
}

ol {
    display: block;
    margin: 0;
    padding: 0;
}

input {
    padding: 1rem 1rem;
    font-family: monospace;
    text-transform: uppercase;
    background: var(--b_low);
    color: var(--f_med);
    border: none;
    outline: none;
}

input:focus {
    background: var(--b_med);
}

/** -----  ----- **/

.link {
    color: var(--f_med);
    text-decoration: none;
}

.link:hover {
    color: var(--f_high);
}


/** ----- NAV ----- **/

#title {
    position: absolute;
    top: 0;
    left: var(--panel-width);
    padding: 3rem;
    font-size: 8rem;
    line-height: 0.75em;
    letter-spacing: -0.5rem;
    z-index: 100;
}

nav {
    position: absolute;
    width: var(--panel-width);
    height: 100%;
    flex-direction: column;
    text-transform: uppercase;
    background: var(--b_low);
    z-index: 1000;
    user-select: none;
}

nav>ol.projects {
    height: 100%;
    padding: 0.5rem 0;
    overflow: auto;
    border-top: 1px solid var(--background);
}

nav>ol.projects>h2 {
    padding: 1.25rem 0 0.25rem 0.75rem;
}

nav>ol.projects>li.link {
    display: flex;
    line-height: 1em;
    white-space: nowrap;
    padding: 0.25em 1rem 0.25em 1.5rem;
    cursor: pointer;
}

nav>ol.projects>li.link>.close {
    margin-right: 0.25ch;
    display: none;
}

nav>ol.projects>li.link>.close:hover {
    color: var(--f_high);
}

nav>ol.projects>li.link>.src {
    display: none;
    margin-left: 0.25ch;
}

nav>ol.projects>li.link.active:hover>.close,
nav>ol.projects>li.link:hover>.src {
    display: block;
}

nav>ol.projects>li.link.active,
nav>ol.projects>li.link.active>* {
    background: var(--b_inv);
    color: var(--f_inv);
}

nav>ol.projects>.link.active>.close {
    display: inline-block;
}

iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: var(--panel-width);
    z-index: 10;
    width: 100%;
    height: 100vh;
}

#source-link {
    position: absolute;
    bottom: 1rem;
    right: 1.5rem;
    font-weight: bold;
    display: none;
    z-index: 1000;
}

#project-readme {
    --margin: 1px;
    display: table;
    position: absolute;
    top: var(--margin);
    left: calc(var(--panel-width) + var(--margin));
    right: var(--margin);
    max-width: 600px;
    padding: 0.5rem 1rem;
    background: var(--b_low);
    opacity: 0.95;
    z-index: 1000;
    visibility: hidden;
}
