
:root {

    --font-size: 13px;
    --line-height: 1.2;
    --header-height: 1rem;
    --sidebar-width: 240px;

    --background: #050301;
    --f_high: #cf2b43;
    --f_med: #b0b0b0;
    --f_low: #606060;
    --f_inv: #ffffff;
    --b_high: #151515;
    --b_med: #101010;
    --b_low: #050505;
    --b_inv: #cf2b43;

    --bg: #f0f0f0;
    --fg: #141419;
    --acc: var(--f_med);
}

@media screen and (max-width: 30em) {
    :root {
        --font-size: 11px;
        --line-height: 1.5;
    }
}

/** ------- RESET ------- **/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    vertical-align: baseline;
    /* color: inherit; */
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    border-collapse: collapse;
    border-spacing: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none
}

/** ------- THEME ------- **/

body {
    background:var(--background);
    color: var(--f_med);
}

/** ------- FONTS ------- **/

@font-face {
    font-family: 'monospace';
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("font/mono-regular.woff2") format("woff2");
}
@font-face {
    font-family: 'title';
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    src: url("font/title.woff2") format("woff2");
}
@font-face {
    font-family: 'icon';
    font-display: block;
    font-style: normal;
    font-weight: normal;
    src: url('font/icons.woff') format('woff');
}

/** ------- ICONS ------- **/

[class^="ic-"],
[class*=" ic-"] {
  font-family: 'icon' !important;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: bold;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1rem; 
  height: 1rem;
  /* line-height: var(--line-height); */
  user-select: none;
}
.ic-github-alt:before { content: "\e907";}
.ic-equalizer:before { content: "\e908"; }
.ic-games:before { content: "\e909"; }
.ic-loop:before { content: "\e90a"; }
.ic-pause:before { content: "\e90b"; }
.ic-skip_next:before { content: "\e90c"; }
.ic-skip_previous:before { content: "\e90d"; }
.ic-stop:before { content: "\e90e"; }
.ic-volume_mute:before { content: "\e90f"; }
.ic-volume_up:before { content: "\e910"; }
.ic-hd:before { content: "\e911"; }
.ic-sort_by_alpha:before { content: "\e912"; }
.ic-fiber_manual_record:before { content: "\e913"; }
.ic-stay_current_portrait:before { content: "\e914"; }
.ic-add:before { content: "\e934"; }
.ic-clear:before { content: "\e901"; }
.ic-link:before { content: "\e900"; }
.ic-sort:before { content: "\e915"; }
.ic-font_download:before { content: "\e916"; }
.ic-link_off:before { content: "\e917"; }
.ic-file_download:before { content: "\e918"; }
.ic-folder:before { content: "\e919"; }
.ic-computer:before { content: "\e91a"; }
.ic-desktop_windows:before { content: "\e91b"; }
.ic-keyboard:before { content: "\e91c"; }
.ic-phone_android:before { content: "\e91d"; }
.ic-tablet_android:before { content: "\e91e"; }
.ic-videogame_asset:before { content: "\e91f"; }
.ic-camera_alt:before { content: "\e920"; }
.ic-grid_off:before { content: "\e921"; }
.ic-grid_on:before { content: "\e922"; }
.ic-arrow_back:before { content: "\e923"; }
.ic-arrow_forward:before { content: "\e924"; }
.ic-check:before { content: "\e925"; }
.ic-expand_less:before { content: "\e926"; }
.ic-expand_more:before { content: "\e927"; }
.ic-fullscreen:before { content: "\e905"; }
.ic-fullscreen_exit:before { content: "\e906"; }
.ic-refresh:before { content: "\e928"; }
.ic-android:before { content: "\e929"; }
.ic-code:before { content: "\e904"; }
.ic-dashboard:before { content: "\e92a"; }
.ic-exit_to_app:before { content: "\e902"; }
.ic-launch:before { content: "\e933"; }
.ic-search:before { content: "\e92b"; }
.ic-view_module:before { content: "\e92c"; }
.ic-filter_list_alt:before { content: "\e92d"; }
.ic-account_tree:before { content: "\e932"; }
.ic-dashboard_customize:before { content: "\e92e"; }
.ic-file_download_done:before { content: "\e92f"; }
.ic-grid_view:before { content: "\e930"; }
.ic-close_fullscreen:before { content: "\e903"; }
.ic-sensor_window:before { content: "\e931";}
  
/** ------- SCROLLBAR ------- **/

::-webkit-scrollbar { border: none; }
::-webkit-scrollbar:horizontal {
    display: none;
}
::-webkit-scrollbar:vertical {
    border: none;
    width: 2px;
}
::-webkit-scrollbar-thumb {
    background:  var(--b_high);
}
::-webkit-scrollbar-thumb:hover {
    background:  var(--f_low);
}

/** ------- ELEMENTS ------- **/

::selection {
    background: var(--b_inv);
    color: var(--f_inv);
}

/* ::-webkit-scrollbar { border: none; }
::-webkit-scrollbar:horizontal { display: none; }
::-webkit-scrollbar:vertical { width: 1px; } */

a {
    background: transparent;
    color: var(--f_med);
    text-decoration: none;
    border: none;
}
/* a:hover, a:focus {
    background: var(--f_med); 
    color: var(--b_low); 
    border-radius: 2px;
} */
/* a:focus {
    background: var(--f_med);
    color: var(--b_med);
}
*/

h1, h2, h3, h4 {
    font-family: 'title';
    text-transform: uppercase;
    line-height: 1em;
}
h1 {
    font-size: 4rem;
    line-height: 1.5em;
}
h2 {
    font-size: 2em;
    line-height: 1em;
}
h3 {
    font-size: 1.5em;
    line-height: 1.5em;
}
h4 {
    font-size: 1em;
    line-height: 2em;
}

input {
    padding: 1rem;
    text-transform: uppercase;
    background: var(--b_low);
    color: var(--f_med);
    border: none;
    outline: none;
    width: 100%;
}
input:focus {
    background: var(--b_high);
    color: var(--f_low);
}

strong {
    font-weight: bold;
}

/** ------- CLASSES ------- **/

/* .selected {
    background: var(--f_low); 
    color: var(--b_low); 
    border-radius: 2px;
} */

/** ------- APP ------- **/

html {
    height: 100%;
    font-family: 'monospace';
    font-size: var(--font-size);
    -webkit-text-size-adjust: 100%;
    line-height: var(--line-height);
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-image: url('pattern.png'); */
    /* background-color: var(--f_high); */
}

body.armory_examples_browser > header {
    display: none;
    /* position: fixed;
    top: 0;
    left: var(--sidebar-width); */
}

body.armory_examples_browser > nav.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--sidebar-width);
    height: 100%;
    padding-bottom: var(--sidebar-width); /* HACK */
    z-index: 1000;
    background: var(--b_med); 
    color: var(--f_med); 
    transition: transform 0.2s;
    user-select: none;
}
body.armory_examples_browser > nav.sidebar.hidden {
    transform: translateX(-100%);
}
/* body.armory_examples_browser > nav.sidebar input[type="search"] {
    box-shadow: 0 4px 10px rgba(0,0,0,1);
} */

body.armory_examples_browser > nav.sidebar img {
    width: 100%;
    -webkit-user-drag: none;
}
body.armory_examples_browser > nav.sidebar a.logo:hover {
    background: none; /* HACK */
}

body.armory_examples_browser nav.sidebar section.group {
    padding: 1rem 0 1rem 0;
}

#project-controls {
    display: flex;
    height: 100%;
    overflow-y: scroll;
}
#project-groups {
    width: var(--sidebar-width);
    height: 100%;
    overflow-y: scroll;
    padding: 1rem 0 5rem 0;
    /* scroll-padding-bottom: 200px; */
}
body.armory_examples_browser nav.sidebar section.group .title {
    margin: 0rem 0 0.5rem 0.8rem;
}
body.armory_examples_browser nav.sidebar li.project {
    display: flex;
    width: 100%;
    padding: 0 1rem;
    white-space: nowrap;
    text-transform: capitalize;
    text-transform: uppercase;
    transition: margin 0.1s, padding 0.1s;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
body.armory_examples_browser nav.sidebar li.project a {
}
body.armory_examples_browser nav.sidebar li.project a:hover {
    color: var(--f_high);
}
body.armory_examples_browser nav.sidebar li.project.hidden {
    height: 0px;
}
body.armory_examples_browser nav.sidebar li.project.loading,
body.armory_examples_browser nav.sidebar li.project.playing {
    margin: 0.5rem 0;
    padding: 0.75rem 1rem;
}
body.armory_examples_browser nav.sidebar li.project.loading {
    background: var(--b_low);
    color: var(--f_low);
}
body.armory_examples_browser nav.sidebar li.project.playing {
    background: var(--b_inv);
    color: var(--f_inv);
}
body.armory_examples_browser nav.sidebar li.project.playing a {
    color: var(--f_inv);
}
body.armory_examples_browser nav.sidebar li.project.playing a:hover {
    /* background: var(--f_med);  */
    color: var(--b_low); 
    border-radius: 2px;
}
/* body.armory_examples_browser nav.sidebar li.project .ic-clear {
    display: none;
    margin-right: 0.25ch;
    cursor: pointer;
}
body.armory_examples_browser nav.sidebar li.project.playing .ic-clear {
    display: inline-block;
} */

body.armory_examples_browser nav.sidebar li.project .controls {
    display: none;
}
body.armory_examples_browser nav.sidebar li.project .controls > * {
    margin-left: 0.25ch;
}
body.armory_examples_browser nav.sidebar li.project.playing .controls {
    display: flex;
}

/* body.armory_examples_browser nav.sidebar li.project .ic-code {
    display: none;
    margin-left: 0.5ch;
}
body.armory_examples_browser nav.sidebar li.project:hover .ic-code {
    display: inline-block;
} */

body.armory_examples_browser > main {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: var(--sidebar-width);
    width: 100vw;
    height: 100vh;
    z-index: 10;
}

body.armory_examples_browser > main iframe.project {
    width: 100vw;
    height: 100vh;
    /* background: var(--b_med); */
    /* background-image: url('pattern.png');
    background-color:#fff; */
}
body.armory_examples_browser > main .controls {
    width: 100%;
    padding: 1rem;
}
/* body.armory_examples_browser > main .readme {
} */
body.armory_examples_browser > main .readme {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: 100%; */
    padding: 1rem 1rem;
    max-height: 600px;
    max-height: 50vh;
    overflow-y: scroll;
}
body.armory_examples_browser > main .readme:empty {
    display: none;
}

footer {
    display: none;
}

/** ------- MARKDOWN ------- **/

.markdown {
    line-height: 1.4;
    background: var(--b_med);
}
.markdown a {
    color: var(--f_med) !important;
    /* border-bottom: 1px solid var(--f_med); */
    /*
    color: var(--f_med); */
}
.markdown a:hover {
    color: var(--f_high) !important;
    background: none;
    border-bottom: 1px solid var(--f_high);
}
.markdown a:visited {
   color: var(--f_low);
}
/* .markdown a:hover {
   border-bottom: 3px solid var(--f_med);
}
.markdown a[href]:hover {
    border-bottom: 1px dotted var(--fg);
} */
/* &[href][class^="ic-"] { */
    
.markdown hr {
    border: 0;
    margin: 0.5rem 0 0.75rem 0;
    height: 1px;
    background: var(--f_med);
}
/* .markdown a[href^="http"]:before {
    font-family: 'icon' !important;
    content: "\e900";
} */
.markdown p {
    margin-bottom: 1rem; 
}
.markdown ol,
.markdown ul {
    margin-bottom: 1rem;
}
.markdown ul > li {
    list-style: disc;
    margin-left: 1rem;
}
.markdown ol > li {
    list-style: decimal;
    margin-left: 2rem;
}
.markdown code {
    padding: 0 4px;
    font-weight: bold;
    border-radius: 2px;
    background: var(--b_low);
    color: var(--f_inv);
}
